</br>
<div class="container d-flex justify-content-center">
  <h1>Welcome! This is your private area.</h1>
</div>
</br>
</br>
<div class="container d-flex justify-content-center">
  <img src="/images/giphy.gif" alt="">
</div>